<div class="card shadow mb-3" data-aos="fade-up">
	<div class="card-header">
		<img [src]="excursion.img" alt="img" class="rounded w-100 object-fit-cover" style="height: 250px">
	</div>
	<div class="card-body">
		<p class="fs-4 m-0 text-center">{{ excursion.name + ' - ' + excursion.id }}</p>
		<p class="fs-4 m-0">{{ 'Категория: ' + excursion.categoryName }}</p>
		<p class="fs-4 m-0">{{ 'Цена: ' + excursion.price }}</p>
	</div>
	<div class="card-footer">
		<a appNavigate [navigateURL]="'excursion'" [queryParams]="{id:excursion.id}" class="btn btn-primary w-100">Подробнее</a>
	</div>
</div>
